PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

AUTH_SERVICE_URL=http://localhost:3001
CUSTOMER_SERVICE_URL=http://localhost:3002
EXTINGUISHER_SERVICE_URL=http://localhost:3003
NOTIFICATION_SERVICE_URL=http://localhost:3004
RENEWAL_SERVICE_URL=http://localhost:3005
COMPLIANCE_SERVICE_URL=http://localhost:3006
REPORT_SERVICE_URL=http://localhost:3007
