PORT=3003
NODE_ENV=development

DATABASE_URL=postgresql://postgres:ivan.2008@localhost:5432/fems_extinguishers

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=ivan.2008
DB_DATABASE=fems_extinguishers

JWT_SECRET=fems-dev-jwt-secret-change-in-production
JWT_EXPIRES_IN=24h
SERVICE_INTERNAL_KEY=dev-internal-service-key

CUSTOMER_SERVICE_URL=http://localhost:3002
NOTIFICATION_SERVICE_URL=http://localhost:3004

CORS_ORIGIN=http://localhost:5173
